p.welcome {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
body {
  background-color: rgb(224, 229, 231);
}
img {
  margin: auto;
  width: 300px;
  height: 300px;
  border-radius: 400px;
  display: block;
}
p.name {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 17px;
  margin-top: 30px;
}

.container-github {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.element-github {
  height: 40px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
  padding: 3px;
}
.element-github:hover {
  background-color: lightgray;
}

.container-facebook {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.element-facebook {
  height: 40px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
  padding: 3px;
}
.container-facebook :hover {
  background-color: lightgray;
}
.social-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 50px;
}

a {
  text-decoration: none;
}
.container-linkedin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.element-linkedin {
  height: 40px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
  padding: 3px;
}
.element-linkedin:hover {
  background-color: lightgray;
}


