p.welcome {
        text-align: center;
        font-size: 40px;
        font-weight: bold;
      }
      body {
        background-color: rgb(224, 229, 231);
      }
      img {
        margin: auto;
        width: 300px;
        height: 300px;
        border-radius: 400px;
        display: block;
      }
      p.name {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .github {
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        color: black;
        vertical-align: left;
        margin-left: 5px;
      }

      .container-github {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        
      }
      .element-github {
        height: 25PX;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        align-items: center;
        padding: 3px; 
        border: 1px solid black;
      }
      .element-github:hover {
        background-color: lightgray;
      }

      .facebook {
        text-decoration: none;
      
        font-size: 19px;
        font-weight: bold;
        color: black;
        vertical-align: left;
        margin-left: 10px;
    
        
      }

      .container-facebook {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        
        
      }
      .element-facebook {
        height: 25PX;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        align-items: center;
        padding: 3px; 
        border: 1px solid black;
      }
      .container-facebook :hover {
        background-color: lightgray;
      }
      .social-container {
      display: flex;
       gap: 20px;
       align-items: center;
       justify-content: center;
        
    
      }

     a {
      text-decoration: none;
     }
     .container-linkedin {
         display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .element-linkedin {
        height: 25PX;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        align-items: center;
        padding: 3px; 
        border: 1px solid black;
      }
      .element-linkedin:hover {
        background-color: lightgray;
      }
      .linkedin {
        text-decoration: none;
        font-size: 19px;
        font-weight: bold;
        color: black;
        vertical-align: left;
        margin-left: 10px;
      }
